# Covers JetBrains IDE
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ User-specific stuff:
*.idea*



# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
input/
output/
metastore_db/
lib_managed/
src_managed/
project/boot/
.history
.cache
*.iml




# Any kind of log file
*.log